.s-hero {
  width: 100%;
  height: 78.6rem;
  background: url("/img/bg-hero.svg") no-repeat center center;
  padding-top: 17.5rem;

  .container {
    @include flex(row, flex-start, space-between)
  }

  .text {
    width: 100%;
    max-width: 68.4rem;

    h3 {
      opacity: 0.8;
      color: $white;
      font-weight: 600;
      margin-bottom: 3.2rem;
    }

    h1 {
      color: $white;
      margin-bottom: 3.9rem;
    }

    ul {
      margin-top: 6.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 61.2rem;

      li {
        display: flex;
        align-items: center;

        .icon {
          width: 4.8rem;
          height: 4.8rem;
          background: linear-gradient(180deg, rgba(53, 202, 226, 0.4) 0%, rgba(53, 202, 226, 0) 100%);
          border-radius: 50%;
          @include flex(row, center, center);
          margin-right: 1.2rem;

        }

        span {
          font-size: 1.8rem;
          line-height: 2.2rem;
          color: $white;
        }
      }
    }
  }

  .area-image {
    width: 100%;
    max-width: 70.6rem;
    margin-right: -17.4rem;

    h2 {
      margin-bottom: 6.7rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 600;
    }

    .image {
      position: relative;
      width: 100%;
      height: 54.1rem;
      top: 4.3rem;

      img {
        position: absolute;
      }

      .card-front {
        top: 4.1rem;
        left: 0;
        z-index: 2;
        max-width: 43.5rem;
        animation: anima-card 6s infinite;
      }

      .card-back {
        bottom: 4.6rem;
        right: 8.6rem;
        z-index: 1;
        max-width: 35.2rem;
        animation: anima-card 8s infinite;
      }

      .circle {
        top: 2.8rem;
        right: 4.6rem;
        max-width: 55.3rem;
      }
    }
  }

  @include responsive(1440px) {
    .area-image {
      margin-right: -13.4rem;
    }
  }

  @include responsive(1366px) {
    .area-image {
      margin-right: -8rem;
    }
  }

  @include responsive(1050px) {
    height: 65rem;
    padding-top: 14.5rem;

    .text {
      ul {
        margin-top: 4.5rem;
      }
    }

    .area-image {
      margin-right: -1rem;

      h2 {
        margin-bottom: 1.5rem;
      }

      .image {
        height: 45rem;

        .card-front {
          max-width: 35rem;
          top: 8rem;
        }

        .card-back {
          max-width: 29rem;
          bottom: 0;
        }

        .circle {
          max-width: 46rem;
        }
      }
    }

  }

  @include responsive(991px) {
    height: 89.1rem;
    background-size: cover;

    .container {
      flex-direction: column;
      align-items: center;
    }

    .text {
      margin-bottom: 5rem;
      max-width: 68.5rem;

      @include flex(column, center, center);

      h3 {
        text-align: center;
      }

      h1 {
        text-align: center;
        margin-bottom: 2.6rem;
      }

      ul {
        margin-top: 3.9rem;
      }
    }

    .area-image {
      h2 {
        margin-bottom: 1.9rem;
      }

      .image {
        max-width: 51.1rem;
        height: 42.4rem;
        margin: 0 auto;
        top: 0;

        .circle {
          max-width: 42.9rem;
          top: 0;
          right: 1.3rem;
        }

        .card-front {
          max-width: 34rem;
          left: 0;
          top: 3.5rem;
        }

        .card-back {
          max-width: 27.4rem;
          right: 2.9rem;
          bottom: 3.6rem;
        }
      }
    }
  }

  @include responsive(480px) {
    padding-top: 12.4rem;
    height: 73.9rem;

    .text {
      h3 {
        font-size: 1.6rem;
        line-height: 120%;
        margin-bottom: 1.5rem;
      }

      h1 {
        font-size: 3.2rem;
        line-height: 112%;
        margin-bottom: 3.7rem;
      }

      ul {
        flex-direction: column;
        align-items: flex-start;
        max-width: 27.5rem;

        li {
          &:not(:last-child) {
            margin-bottom: 1.7rem;
          }

          .icon {
            width: 2rem;
            height: auto;
            background-color: transparent;

          }

          span {
            br {
              display: none;
            }
          }
        }
      }
    }

    .area-image {
      h2 {
        display: none;
      }

      .image {
        max-width: 30.5rem;
        height: 24.8rem;

        .circle {
          max-width: 26.7rem;
          right: 0;
        }

        .card-front {
          max-width: 21.1rem;
          top: 2.9rem;
        }

        .card-back {
          max-width: 17rem;
          bottom: 0;
          right: 0.6rem;
        }
      }
    }
  }
}

.s-card-neon {
  padding-top: 12.9rem;

  .container {
    @include flex(row, flex-start, space-between)
  }

  .left-area {
    width: 100%;
    max-width: 277px;

    .ilustra-mockup {
      position: relative;
      width: 100%;
      max-width: 27.7rem;
      margin-bottom: 12.9rem;

      .circle {
        position: absolute;
        top: 8.7rem;
        left: -21.4rem;
        max-width: 37.7rem;
        z-index: -1;
      }
    }

    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .icon {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 0.5rem;
          height: 8.3rem;
          top: -104px;
          left: 50%;
          margin-left: -0.25rem;
          background: url("/img/points.svg") no-repeat center center;
        }
      }

      .info-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          text-align: center;
          margin-top: 3.6rem;
          color: $grey-600;
        }

        p {
          text-align: center;
          color: $grey-600;
          font-size: 1.6rem;
          line-height: 150%;
          opacity: 0.8;
          margin-bottom: 2.6rem;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 2.6rem;
            }
          }
        }
      }
    }
  }

  .right-area {
    width: 100%;
    max-width: 80rem;

    .main-text {
      margin-bottom: 14.4rem;

      h2 {
        max-width: 48.8rem;
        color: $grey-600;
        margin-bottom: 4.9rem;
      }

      ul {
        margin-bottom: 3.2rem;

        li {
          @include flex(row, center, space-between);
          border-bottom: 0.1rem solid rgba(225, 224, 231, 0.9);
          padding: 33px 0;

          &:first-child {
            padding-top: 0;
          }

          .info {
            display: flex;
            align-items: center;

            .txt {
              margin-left: 4.3rem;

              h3 {
                color: $grey-400;
              }

              p {
                font-size: 1.8rem;
                line-height: 150%;
                color: $grey-300;
              }
            }
          }
        }
      }

      .btn {
        position: relative;
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 112%;
        letter-spacing: -0.5px;
        color: $brand-blue;

        &::after {
          content: '';
          position: absolute;
          right: -1.8rem;
          bottom: 0;
          width: 1rem;
          height: 0.3rem;
          background-color: $brand-yellow;

        }
      }
    }

    .box-card {
      @include flex(row, center, space-between);
      width: 100%;
      height: 41rem;
      background: url("/img/bg-box-card-neon.svg")no-repeat center center;
      border-radius: 1.2rem;
      padding-left: 5.9rem;

      .text {
        width: 100%;
        max-width: 38rem;

        h2 {
          color: $white;
          margin-bottom: 1.1rem;
        }

        h3 {
          color: $white;
          max-width: 32.7rem;
          margin-bottom: 0.8rem;
        }

        p {
          font-size: 1.6rem;
          line-height: 150%;
          color: $white;
          margin-bottom: 3.1rem;
        }

        .btns {
          display: flex;
          align-items: center;

          button {
            &:not(:first-child) {
              margin-left: 1.6rem;
            }
          }
        }
      }

      .image {
        margin-right: -3.2rem;
      }
    }
  }

  @include responsive(1200px) {
    .left-area {
      .ilustra-mockup {
        .circle {
          display: none;
        }
      }
    }

    .right-area {
      max-width: 73rem;

      .main-text {
        ul {
          li {
            .info {
              .txt {
                margin-left: 2rem;
              }
            }
          }
        }
      }

      .box-card {
        padding-left: 3.5rem;

        .image {
          margin-right: -1rem;
        }
      }
    }
  }

  @include responsive(991px) {
    .container {
      flex-direction: column-reverse;
    }

    .left-area {
      @include flex(row, center, space-between);
      max-width: 61rem;
      margin: 0 auto;

      .text {
        max-width: 27rem;

        .icon {
          &::before {
            display: none;
          }
        }
      }

      .ilustra-mockup {
        max-width: 25.5rem;
        margin-bottom: 0;


      }
    }

    .right-area {
      max-width: 100%;
      margin-bottom: 9.8rem;

      .main-text {
        margin-bottom: 5.7rem;

        h2 {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 5.3rem;
          font-size: 3.6rem;
        }

        .btn {
          display: block;
          text-align: center;

          &::after {
            display: none;
          }
        }
      }

      .box-card {
        max-width: 94.7%;

        .image {
          margin-right: -4rem;
        }
      }
    }
  }

  @include responsive(600px) {
    padding-top: 17rem;

    .right-area {
      .box-card {
        flex-direction: column;
        max-width: 100%;
        height: 47rem;
        background-size: cover;
        padding-top: 4.3rem;
        padding-left: 0;
        margin-bottom: 4rem;

        .image {
          margin-right: 0;
        }

        .text {
          max-width: 90%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 3rem;

          h3 {
            text-align: center;
          }

          p {
            text-align: center;
          }
        }
      }
    }
  }

  @include responsive(480px) {
    position: relative;
    padding-top: 8.6rem;

    &::after {
      content: '';
      position: absolute;
      width: 37.5rem;
      height: 21.4rem;
      left: 0;
      bottom: 0;
      z-index: -1;
      background: linear-gradient(180deg, #F7F7FA 0%, rgba(247, 247, 250, 0) 100%);
      transform: matrix(1, 0, 0, -1, 0, 0);
    }

    .left-area {
      flex-direction: column-reverse;

      .text {
        margin-bottom: 4rem;
      }

      .ilustra-mockup {
        height: 39.7rem;
        overflow: hidden;
      }
    }

    .right-area {
      margin-bottom: 6.7rem;

      .main-text {
        h2 {
          font-size: 2.8rem;
          margin-bottom: 3.7rem;
        }

        ul {
          li {
            padding: 2.8rem 0;

            .info {
              align-items: flex-start;

              .txt {
                max-width: 71%;

                h3 {
                  font-size: 2rem;
                }

                p {
                  font-size: 1.4rem;
                }
              }
            }
          }
        }
      }

      .box-card {

        .image {
          max-width: 27.7rem;
        }

        h2 {
          font-weight: 600;
          font-size: 2.8rem;
        }

        h3 {
          font-size: 2rem;
        }

        .text {
          p {
            max-width: 25.3rem;
            margin-bottom: 3.4rem;
          }

          .btns {
            .btn-primary {
              padding: 0 3rem;
            }
          }
        }
      }
    }
  }
}

.s-depoimentos {
  padding-top: 13.4rem;

  .top {
    @include flex(row, flex-end, space-between);
    margin-bottom: 4rem;

    h2 {
      color: $grey-600;

      span {
        display: block;
        color: $grey-200;
        margin-bottom: 1.4rem;
      }
    }

    .paginacao {
      position: relative;

      .swiper-pagination-bullet {
        background: $brand-yellow;
        opacity: 0.3;
        border-radius: 12px;
        transition: all .3s;

        &:not(:first-child) {
          margin-left: 0.4rem;
        }

        &-active {
          opacity: 1;
          width: 1.723rem;
        }
      }
    }
  }

  .slide-depoimentos {
    overflow: hidden;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    right: 0;
    width: auto;
  }

  @include responsive(991px) {
    .top {
      flex-direction: column;
      align-items: center;
      margin-bottom: 5rem;

      h2 {
        text-align: center;
        margin-bottom: 5rem;
      }
    }
  }

  @include responsive(480px) {
    padding-top: 7.6rem;

    .container {
      padding: 0;

    }

    .top {
      margin-bottom: 3.4rem;

      h2 {
        margin-bottom: 3.4rem;
        font-size: 2.8rem;
        font-weight: 600;
        max-width: 28.5rem;

        span {
          margin-bottom: 1.2rem;
        }
      }
    }

    .slide-depoimentos {
      padding: 0 2rem;
    }
  }
}

.s-conta-digital {
  padding-top: 12.7rem;
  padding-bottom: 8.5rem;

  .container {
    display: flex;
    align-items: center;
  }

  .text {
    width: 100%;
    max-width: 54.2rem;

    h2 {
      color: $grey-600;
      margin-bottom: 4.5rem;

      span {
        display: block;
        color: rgba(198, 197, 206, 0.8);
        margin-bottom: 0.9rem;
      }
    }

    ul {
      margin-bottom: 6.1rem;

      li {
        display: flex;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 4.5rem;
        }

        .icon {
          @include flex(row, center, center);
          width: 4.5rem;
          height: 4.5rem;
          background-color: $brand-green-blue;
          border-radius: 0.8rem;
          margin-right: 2.6rem;
        }

        .info {
          h4 {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 2rem;
            line-height: 112%;
            letter-spacing: -0.5px;
            color: $grey-400;
            margin-bottom: 0.4rem;
          }

          p {
            font-size: 1.8rem;
            line-height: 150%;
            color: $grey-300;
          }
        }
      }
    }
  }

  .image {
    position: relative;
    width: 100%;
    max-width: 71.2rem;
    height: 59.8rem;
    margin-right: -3.8rem;
    left: 12.5rem;
    bottom: 0;

    img {
      position: absolute;

      &.mockup-01 {
        left: 0;
        bottom: 4.7rem;
        z-index: 2;
      }

      &.mockup-02 {
        top: 0.3rem;
        left: 25.8rem;
        z-index: 2;
      }

      &.circle {
        right: 0;
        bottom: 0;
        z-index: 0;
      }
    }
  }

  @include responsive(1200px) {
    .container {
      flex-direction: column;
      align-items: center;
    }

    .text {
      max-width: 75%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        max-width: 80%;
        text-align: center;
      }
    }

    .image {
      margin-right: 0;
      left: 0;
      margin-top: 5rem;
    }
  }

  @include responsive(900px) {
    padding-top: 8.6rem;
    padding-bottom: 8.1rem;

    .text {
      max-width: 100%;
    }

    .image {
      max-width: 58.2rem;
      height: 63.3rem;

      img {
        &.mockup-01 {
          z-index: 2;
        }

        &.mockup-02 {
          z-index: 2;
        }

        &.circle {
          width: 100%;
        }
      }
    }
  }

  @include responsive(480px) {
    padding-top: 5.7rem;
    padding-bottom: 7.2rem;

    .text {
      h2 {
        font-size: 2.6rem;
        font-weight: 600;
        max-width: 100%;
        margin-bottom: 3.9rem;

        span {
          font-weight: 600;
          font-size: 2.4rem;
        }
      }

      ul {
        margin-bottom: 4.4rem;

        li {
          flex-direction: column;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 5.6rem;
          }

          .icon {
            margin-right: 0;
            margin-bottom: 1.6rem;

            p {
              max-width: 21rem;
              font-size: 1.4rem;
              margin: 0 auto;
            }
          }

          .info {
            h4 {
              text-align: center;
            }

            p {
              text-align: center;
            }
          }
        }
      }
    }

    .image {
      max-width: 35.2rem;
      height: 46.9rem;

      img {

        &.mockup-01,
        &.mockup-02 {
          max-width: 16.8rem;
        }

        &.mockup-01 {
          bottom: initial;
          top: 5.8rem;
        }

        &.mockup-02 {
          left: initial;
          right: 0;
          top: 0;
        }

      }
    }
  }
}

@keyframes anima-card {
  0% {
    transform: translateY(0);
  }

  66% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}