//Cores

$brand-blue: #0073CE;
$brand-light-blue: #00A5F0;
$brand-green-blue: #00D7D7;
$brand-yellow: #FFC800;
$white: #ffffff;

//Escala de cinza

$grey-600: #33303E;
$grey-500: #4E4B59;
$grey-400: #5F5C6B;
$grey-300: #7A7786;
$grey-200: #C6C5CE;
$grey-100: #F1F0F5;